body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
}

img {
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    height: auto;
}

.top-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}
