body {
    margin: 0;
    background-color: black;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    position: relative;
    height: 400vh;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    height: auto;
}

.top-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-left {
    top: 11.5%;
    left: 0;
}

.bottom-right {
    top: 12.5%;
    right: 1%;
}

.mid {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.text {
    color: white;
    font-size: 24px;
    line-height: 1.4;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    padding: 0px;
}

.bold {
    color: yellow;
    font-weight: bold;
}

.titles {
    color: yellow;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 40px 0;
}

.art-card-c {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translateX(-50%);
}
