

body {
    background-color: black;
    padding-top: 10%;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    padding: 10px;
    border: 1px;
    border-radius: 20px;
    background-color: aliceblue;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: aliceblue;
    font-size: larger;
}

@media only screen and (max-width: 1026px) {
    .pilar {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 
.botaofala img{
    width: 70px;
    position: fixed;
    top: 80%;
    right: 150px;
}
.barra {

    background-color: rgb(27, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    opacity: 90%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: sans-serif;
}
.topbar {
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left:auto;
}
.topbar a {
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    -webkit-text-stroke-color: rgb(27, 24, 24);
    font-size: 16px;
    padding: 12px 12px;
    border-radius: 6px;
    transition: 0.3s;
}
.topbar a:hover {
    background-color: #444;
} .voltar a{
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 12px;
    border-radius: 6px;
    transition: 0.3s;
} .voltar a:hover{
    background-color: #444;
}