body {
    background-image: url('/imagens/Galeria.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.nome{
    font-weight: bold;
    margin-bottom: 0;
}

.artista{
    margin-top: 0px;
    font-size: smaller;
    font-style: italic;
}

.galeria {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 50px;
}

.item {
    background: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 4px solid gold;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

    /* ===== MODAL ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    color: black;
    padding: 40px;
    border-radius: 30px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
    animation: aparecer 0.3s ease;
}

@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.fechar {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
}

h2 {
    margin-top: 0;
}
