body{
    background-image: url('/imagens/Galeria.png');
    background-size: 100%;
    background-repeat: no-repeat;
    }
    .galeria1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: -40px;
    }
    .galeria2 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 230px;
    }

    .item {
      background: white;
      color: black;
      text-align: center;
      border-radius: 15px;
      padding: 10px;
      width: 180px;
      cursor: pointer;
      transition: transform 0.3s ease;
      border: 4px solid gold;
    }

    .item:hover {
      transform: scale(1.05);
    }

    .item img {
      width: 100%;
      height: 157px;
      border-radius: 10px;
    }
    /* ===== MODAL ===== */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.85);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal-content {
      background: white;
      color: black;
      padding: 40px;
      border-radius: 30px;
      width: 80%;
      max-width: 800px;
      text-align: center;
      position: relative;
      animation: aparecer 0.3s ease;
      
    }

    @keyframes aparecer {
      from {
        transform: scale(0.8);
        opacity: 0;
      }
      to {
        transform: scale(1);
        opacity: 1;
      }
    }

    .fechar {
      position: absolute;
      top: 15px;
      right: 25px;
      font-size: 30px;
      cursor: pointer;
      color: #000;
    }

    h2 {
      margin-top: 0;
      color: black !important;
    } p, b{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(0, 0, 0) !important;
    } #modalImagem {
      width: 500px;
      margin: 10px auto;
      display: block;
      border-radius: 10px;
    } .contemporenea h1{
      margin-top: 80px;
      margin-bottom: -200px;

    }.moderna h1{
      position: relative;
      margin-bottom: 70px;
      margin-top: -50px;
    }.botaofala-modal {
      position: absolute;
      top: 15px;
      right: 50px;
      width: 80px;
      height: 80px;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s ease, transform 0.2s ease;
    }.botaofala-modal:hover {
      opacity: 1;
      transform: scale(1.1);
  } .entrelinhas p{
    color: white !important;

  }