

@keyframes trocadecor {
        0% {
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
     100% {
            background-position: 0% 100%;
        }
}

.resposta{
    max-width: 20em;
    background: linear-gradient(45deg, rgb(194, 3, 3) , rgb(192, 74, 5), rgb(194, 127, 2), rgb(194, 184, 3),  rgb(2, 100, 2),  rgb(2, 2, 194),   rgb(194, 3, 3), rgb(194, 127, 2));
    color: white;
    background-size: 800% 800%;
    animation: trocadecor 20s linear infinite ;
    top: 50em;

}
.resposta:hover{
        cursor: pointer;
        transform: scale(1.1); 
        transition: 0.2s;
}
.imagempergunta{
    height: 20em;
    width: 30em;
    position: center;
    margin-left: 30%;
    margin-right: 50%;
}
.titulopergunta{
    max-width: 40em;
}
.conteudopergunta{

}